@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


header {
  width: 100vw;
  background-color: white;
  height: 70px;
}

header .container {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "dancing script";
}

header .container .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header .container .profile button {
  color: red;
  cursor: pointer;
}

header .container .profile button:hover {
  background-color: white;
}

header h1 {
  font-weight: 900;
  font-size: 2rem;
  margin: 10px 0;
}

.pages {
  width: 100vw;
  height: 100vh;
  background-color: #eeecec;
  padding: 50px 0;
}

.home {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.home .workout_routines {
  width: 70%;
  margin-right: 100px;
}

.home .workout_form {
  width: 30%;
}

.home .workout_routines .workout_detail {
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px lightgray;
}

.home .workout_routines .workout_detail .container {
  display: flex;
  justify-content: space-between;
}

.home .workout_routines .workout_detail .detail {
  margin-bottom: 3px;
}

.home .workout_routines .workout_detail .delete {
  background-color: white;
  color: red;
  cursor: pointer;
  border: 0px
}

.home .workout_routines .workout_detail .delete:hover {
  background-color: #eeecec;
}

.home .workout_routines .workout_detail .title {
  font-size: 1.3rem;
  font-weight:bolder;
  color: green;
  margin-bottom: 10px;
}

.home .workout_routines .workout_detail .time {
  font-size: 0.8rem;
}

.home .workout_routines .workout_detail .name {
  font-weight:bold;
  color: black;
}

.home .workout_form form {
  display: flex;
  flex-direction: column;
}

.home .workout_form .form_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.home .workout_form input, button {
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
}

.home .workout_form button {
  background-color: green;
  color: white;
  cursor: pointer;
}

.home .workout_form button:hover {
  background-color: lightgreen;
  color: black;
}

.home .workout_form h3 {
  margin-top: 0;
}
